<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>MD Shorts.ipa</key>
		<array>
			<dict>
				<key>architectures</key>
				<array>
					<string>armv7</string>
					<string>arm64</string>
				</array>
				<key>certificate</key>
				<dict>
					<key>SHA1</key>
					<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
					<key>dateExpires</key>
					<string>29/11/22</string>
					<key>type</key>
					<string>Apple Development</string>
				</dict>
				<key>embeddedBinaries</key>
				<array>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>App.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>FBLPromises.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>FirebaseCore.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>FirebaseCoreDiagnostics.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>FirebaseInstallations.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>Flutter.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>GoogleDataTransport.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>GoogleUtilities.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>Reachability.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>connectivity.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>device_info_plus.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>flutter_secure_storage.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>image_picker.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>libPhoneNumber_iOS.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>libphonenumber.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>libphonenumber_plugin.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>nanopb.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>path_provider.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>share.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>shared_preferences.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>url_launcher.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>video_player.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>wakelock.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>armv7</string>
							<string>arm64</string>
						</array>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>0363FD968F9811E7F91D6C9C6134F5AB3A79FB06</string>
							<key>dateExpires</key>
							<string>29/11/22</string>
							<key>type</key>
							<string>Apple Development</string>
						</dict>
						<key>name</key>
						<string>webview_flutter_wkwebview.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>KS5GD74J24</string>
							<key>name</key>
							<string>Mandeep Vats</string>
						</dict>
					</dict>
				</array>
				<key>entitlements</key>
				<dict>
					<key>application-identifier</key>
					<string>KS5GD74J24.com.doceree.mdshort</string>
					<key>com.apple.developer.team-identifier</key>
					<string>KS5GD74J24</string>
					<key>get-task-allow</key>
					<true/>
					<key>keychain-access-groups</key>
					<array>
						<string>KS5GD74J24.com.doceree.mdshort</string>
					</array>
				</dict>
				<key>name</key>
				<string>Runner.app</string>
				<key>profile</key>
				<dict>
					<key>UUID</key>
					<string>4df611f2-4802-4fff-b308-e016e27f1932</string>
					<key>name</key>
					<string>iOS Team Provisioning Profile: *</string>
				</dict>
				<key>team</key>
				<dict>
					<key>id</key>
					<string>KS5GD74J24</string>
					<key>name</key>
					<string>Mandeep Vats</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
